<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>网易云音乐地址:<a href="http://music.163.com/#/djradio?id=1136006">神奇海螺</a></p>
    <p>播客iTunes地址：<a href="https://itunes.apple.com/cn/podcast/shen-qi-hai-luo/id998031335?mt=2">神奇海螺</a></p>
    <p>播客RSS地址:<a href="http://podcast.scuinfo.com/rss.xml">神奇海螺</a></p>

  </body>
</html>
